* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://res.cloudinary.com/think-makers-asylum/image/upload/v1630590716/kent-tupas-WaUcTYPfiCU-unsplash_x8dlbg.jpg")
    no-repeat fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-box {
  position: relative;
  margin-top: 5%;
}

.hero-img {
  position: relative;
  margin-left: -3em;
}

.container-box .input form input {
  width: 575px;
  font-weight: 400;
  height: 50px;
  font-size: 16px;
  border-radius: 20px;
  margin-left: 15%;
  border: none;
  border-color: gray;
}
.container-box .input form input[type="text"] {
  padding-left: 25px;
}

.container-box .input form input:focus {
  border-radius: 20px;
  border: none;
  outline: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

.search-icon {
  margin-left: -2.5em;
  color: black;
}

.search-icon:hover {
  color: blue;
}

/* -------social media section------- */
.social-meida-box {
  margin-top: -8em;
  margin-left: 1em;
  position: fixed;
}

.social-meida-box .social-meida-list {
  list-style: none;
}

.social-meida-list li:first-child {
  padding-top: 0px;
}

.social-meida-list li {
  padding-top: 1em;
}

.social-meida-list li a {
  text-decoration: none;
}

.social-meida-list li a i {
  font-size: 30px;
  color: black;
  font-weight: 900;
}

.social-meida-list li a .facebook:hover {
  color: #1877f2;
}

.social-meida-list li a .linkedin-in:hover {
  color: #0178b2;
}

.social-meida-list li a .instagram:hover {
  color: #db2a6a;
}

.social-meida-list li a .whatsapp:hover {
  color: #25d366;
}

.social-meida-list li a .github {
  color: black;
}

.social-meida-list li a .github:hover {
  color: gray;
}

.social-meida-box hr {
  opacity: 1;
  border-top: 2px solid black;
  transform: rotate(90deg);
  margin-top: 6em;
  margin-left: -0.7em;
  width: 7em;
}

@media only screen and (max-width: 320px) {
  .container-box {
    width: 50%;
    margin-top: 40%;
  }
  /* .hero-img {
    margin-left: 10%;
  } */
  .container-box .input form input {
    margin-left: -40%;
  }
}

@media only screen and (max-width: 375px) {
  .container-box {
    width: 50%;
  }
  .container-box .input form input {
    width: 360px;
    margin-left: -45%;
  }
  .search {
    margin-top: -100px;
    color: black;
  }
}
