* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1585507252242-11fe632c26e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80")
    no-repeat fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container-box {
  position: relative;
  margin-top: 5%;
}

.hero-img {
  position: relative;
  margin-left: -3em;
}

.container-box .input form input {
  width: 575px;
  font-weight: 400;
  height: 50px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  border-color: gray;
}
.container-box .input form input[type="text"] {
  padding-left: 25px;
}

.container-box .input form input:focus {
  border-radius: 20px;
  border: none;
  outline: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

.search-icon {
  margin-left: -2.5em;
  color: black;
}

.search-icon:hover {
  color: blue;
}

@media only screen and (max-width: 320px) {
  .container-box {
    width: 50%;
    margin-top: 40%;
  }
  /* .hero-img {
    margin-left: 10%;
  } */
  .container-box .input form input {
    margin-left: -40%;
  }
}

@media only screen and (max-width: 375px) {
  .container-box {
    width: 50%;
  }
  .container-box .input form input {
    width: 360px;
    margin-left: -45%;
  }
  .search {
    margin-top: -100px;
    color: black;
  }
}
